.hatter{
    opacity: 0.3;
}
ul li a:hover{
    color: white !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 1px red;
    font-size: larger;
}
button{
    border: 0px solid black;
}
.zaro:hover{
    font-size: x-large;
}
img{
    max-width: 150px;
    display: flex;
}
.márka{
    font-family: 'Times New Roman', Times, serif;
}
.email{
    text-decoration: none;
}
.email:hover{
    text-decoration: underline;
}